nav{
    display: flex;
    /*border: royalblue solid 1px;*/
    padding: 2.2% 10%;
    align-items: center;
    justify-content:space-between;
    height: 50px;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    margin-top: 0px;
    z-index: 10;
    color: white;
}


/* icono y titulo de la pagina */
.header{
    display: flex;
    text-decoration: none;
    color:#0B31A5;
}
.header h2{
    margin-top: 15px;
    font-weight: 500px;
    color: whitesmoke;
    transition: all .3s ease;
}
.header h2:hover{
    margin-left: 5px;
    transition: all .3s ease;
}
.header img{
    width: 43px;
    margin: 0;
    margin-top: 2%;
}

/* Menu de navegacion */ 
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
nav ul li{
    /*padding: 0px 18px 0px 0px;*/
    margin-left: 40px;
    font-size: 16.5px;
    color: rgb(167, 164, 164);
}
nav ul li:hover{
    color: white;
    cursor: pointer;
}
.ul{
    display: flex;
}
.sub{
    padding-left: 30px;
    color: rgb(167, 164, 164);
}
/* Botones de la navegacion */
.btn{
    font-family: 'Calibri';
    font-size: 18px;
    padding: 7px;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    margin-left: 5px;
}
.btn:hover{
    cursor: pointer;
}
.in{
   background-color: transparent; 
   color: white;
}
.in:hover{
    background-color: darkviolet;
    transition: all .5s ease;
}
.out{
    background-color: #0b5ba5;
    color: white;
    transition: all .3s ease;
}
.out:hover{
    background-color: #0b8530;
}

/* Fondo imagen */
.fondo-imagen{
    background-image: url('https://www.lavanguardia.com/files/image_948_465/uploads/2016/12/01/5fa2f89d66871.jpeg');
    height: 500px;
    padding: 50px;
    color: whitesmoke;
    box-shadow: inset 1px 50px 130px 70px #000000;
    background-size: contain;
}

.titulo{
    background-color: rgba(0, 0, 0, 0.726);
    width: 45%;
    padding: 0px 10px 0px 10px;
}
article p{
    text-align: left;
}
.fondo-imagen h1{
    font-size: 100px;
    font-weight: 500;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.fondo-imagen h2{
    font-size: 40px;
    font-weight: 100;
    color: whitesmoke;
    margin-top: 0px;
    padding-top: 0px;
    text-align: justify;
}

.nav2{
    background-color: black;
}

/*dropdown list*/
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
.dropdown:hover .dropdown-content {
    display: block;
}
